{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "env": {
      "test": {
        "presets": [
          "@babel/preset-env"
        ]
      },
      "production": {
        "presets": [
          [
            "@babel/preset-env",
            {
              "targets": {
                "browsers": ["last 2 versions", "ie >= 11"]
              },
              "useBuiltIns": "usage",
              "corejs": 3
            }
          ]
        ]
      }
    }
  }
  